.Categories {
    margin: 0 auto;
    padding: 0;
}

.category-btn {
    position: absolute;
    top: -8rem;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.6rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05rem;
    transition: all 250ms ease;
}

.category-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.cat-all {
    top: 20%;
    left: 4%;
    color: #EB2A2B;
    border: 2px solid #EB2A2B;
}

.cat-visuals {
    top: 56%;
    left: 16%;
    transform: rotate(270deg);
    color: #24359D;
}

.cat-home {
    top: 54%;
    right: -5%;
    transform: rotate(20deg);
}

.cat-art {
    top: 77%;
    right: 16%;
    background-color: #FAD422;
}

.cat-dev {
    top: 12%;
    left: 38%;
    text-transform: lowercase;
    font-style: italic;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 2rem;
    color: #ea58a1;
}

.cat-photo {
    top: 90%;
    right: 2%;
    text-decoration: underline;
    font-size: 1.2rem;
}

.cat-fashion {
    top: 105%;
    right: 25%;
    letter-spacing: 0.1rem;
    border-bottom: 0.25rem solid #2A9D46;
}

@media (max-width: 600px) {
    .category-btn {
        font-size: 0.7rem;
    }

    .cat-dev {
        font-size: 1.3rem;
    }
}