.grid-container {
    margin-top: 15vh;
    margin: 15vh 3vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.grid-item:nth-child(2) {
    transform: translate(8rem, 2rem);
    z-index: 2;
}

.grid-item:nth-child(3) {
    grid-column: span 2;
    margin-top: 4rem;
}

.grid-item:nth-child(4) {
    grid-column: span 2;
    margin-top: -5rem;
}

.grid-item:nth-child(5) {
    transform: translate(-5rem, 5rem);
}

.grid-item:nth-child(6) {
    transform: translate(-1rem, -4rem);
}

.grid-item:nth-child(7) {
    transform: translate(2.5rem, 1rem);
}

.grid-item:nth-child(9) {
    transform: translate(4rem, -3rem)
}

.grid-item:nth-child(10) {
    margin-top: 8rem;
}

.grid-item:nth-child(12) {
    grid-column: span 2;
    transform: translate(-1rem, 3rem);
    z-index: 10;
}

.grid-item:nth-child(13) {
    transform: translate(-1rem, 3rem);
}

.grid-item:nth-child(14) {
    grid-column: span 2;
}

.grid-item:nth-child(15) {
    grid-column: span 2;
    transform: translate(1rem, -1rem);
    z-index: 10;
}

.grid-item:nth-child(16) {
    grid-column: span 2;
    transform: translate(2rem, 4rem);
}

.grid-item:nth-child(18) {
    margin-top: 2rem;
}

.grid-item:nth-child(20) {
    grid-column: span 2;
    margin-right: 0;
}

@media (max-width: 600px) {
    .grid-container {
        margin-top: 10vh;
    }
}