.grid-container {
    margin-top: 15vh;
    margin: 15vh 3vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.grid-item:nth-child(3) {
    grid-column: span 2;
    margin-top: 4rem;
}

@media (max-width: 600px) {
    .grid-container {
        margin-top: 10vh;
    }
}