.grid-container {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .grid-container {
        margin-top: 10vh;
    }
}