.Hero {
    min-height: 70vh;
}

.hero-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 2vh;
    width: min(75vw, 1120px);
}

h1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1/1;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: min(24vw, 358px);
}

h1 div {
    width: fit-content;
    justify-self: start;
}

h1 .letter-one {
    color: #24359D;
    font-weight: 900;
    position: absolute;
    top: 24%;
    left: 19%;
    transform:scaleX(1.5) scaleY(0.8);
}

h1 .letter-two {
    color: #EB2A2B;
    font-weight: 900;
    position: absolute;
    top: 24%;
    right: 19%;
    transform: rotate(90deg) scaleY(1.4);
}

h1 .letter-three {
    color: #FAD422;
    font-weight: 900;
    position: absolute;
    bottom: 23%;
    left: 21%;
    transform: rotate(90deg) scaleY(1.4);
}

h1 .letter-four {
    color: #E53A8F;
    font-weight: 900;
    position: absolute;
    bottom: 23%;
    right: 19%;
    transform: scaleX(1.8) scaleY(0.8);
}

h2 {
    position: absolute;
    bottom: -5%;
    left: -10%;
    max-width: 20vw;
    font-size: min(3.5vw, 40px);
    line-height: 1;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    letter-spacing: -0.6px;
}

@media (max-width: 600px) {
    .Hero {
        min-height: 50vh;
    }

    .letter-one {
        top: 2%;
        left: 3%;
    }

    .letter-two {
        top: 2%;
        right: 3%;
    }

    h1 .letter-three {
        top: 45%;
        left: 21%;
    }

    .letter-four {
        top: 45%;
        right: 3%;
    }
}